
{% load static %}
<footer class="px-10 container m-auto pb-10 pt-20">
    <div class="flex flex-col justify-between md:flex-row gap-3 items-center m-auto">
        <div class="flex flex-col md:flex-row gap-4 ">
        <img alt="NIhonchikaraPNGLOGO11037"
        src="{% static 'public/playground_assets/nihonchikarapnglogo11037-dlwp-400w.png' %}"
        class="w-[100px] md:w-[150px] m-auto" />
        <div class="text-[16px] jp-100 text-[#66667f] leading-9 text-center">
            <p>9 Vamenta Blvd Carmen,Walking distance from Gaisano KSY Carmen. Second Floor Sharojo Lumber Trading, Cagayan de Oro, Northern Mindanao, Philippines</p>
            <p>
                0975 191 5003 / nihonchikarajpl@gmail.com COPYRIGHT © NIHONCHIKARA
            </p>
        </div>
        </div>
        <div class="flex flex-row gap-10 items-center">
            <a href="https://www.instagram.com/cdojapaneselanguage/">
                <i class="fa-brands fa-instagram fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/CDOjapaneselanguagegroup">
                <i class="fa-brands fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>

</footer>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
        integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const button = document.querySelector('#menu-button');
        const menu = document.querySelector('#menu');


        button.addEventListener('click', () => {
            menu.classList.toggle('hidden');
        });
    </script>